_build/
.dockerignore
.git
README.md
guide.org
ocamlot.db
ocamlot.db-shm
ocamlot.db-wal
tests
watch.sh
!tests/integration_tests/run_ocamlot.sh
!tests/integration_tests/run_ocamlot_local.sh
!tests/integration_tests/run_pleroma.sh
!tests/integration_tests/run_pleroma_local.sh
!tests/integration_tests/ocamlot.nginx
!tests/integration_tests/pleroma.nginx
!tests/integration_tests/setup_db.psql
!tests/integration_tests/config.exs