/* * Text */
.text-justify {
  text-align: justify;
}
.bold {
    font-family: "Vera Bold";
}


/* * Font */
.font-small {
  font-size: small;
}

/* * Flex */

.flex {
    display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

/* ** Align */
.align-content-center {
  align-content: center;
}

.align-items-center {
  align-items: center;
}


.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

/* ** Justify */

.justify-center {
    justify-content: center;
}


.justify-space-around {
    justify-content: space-around;
}

.justify-space-between {
    justify-content: space-between;
}



/* * Grid  */
.grid {
    display: grid;
}

/* * Space */
.padding-all {
  padding: 0.25em;
}

.margin-space-above {
  margin-top: 0.25em;
}
/* * Border */
.primary-border-small {
    border: 0.25em solid var(--primary);
}
/* * Images */
.icon.icon-large {
    width: 4.6em;
    max-height: 4.6em;
}

.icon {
    width: 2.6em;
    max-height: 2.6em;
    border-radius: 100%;
    overflow: hidden;
}

.icon > img {
    width: 100%;
    height: 100%;
}

/* * Number */
.number-icon {
    border-radius: 100%;
    display: flex;
    width: 1.5em;
    height: 1.5em;
    align-items: center;
    justify-content: center;
}
/* * Widgets  */
/* ** Elements List */
.elements-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.elements-list a {
  text-align: center;
  color: var(--text-color);
  text-decoration: none;;
}

.elements-list p {
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

/* ** Header */
.header {
  align-items: center;
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-top: 0.125em;
  margin-bottom: 0.125em;
}

.header p {
  margin-top: 0.125em;
  margin-bottom: 0.125em;
}

.header-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0.5em;
}

.header-current-element {
  display: flex;
  align-items: center;
}

.header-option {
  margin: 0 0.25em 0 0.25em;
}

/* ** Input Form */

form.input-form {
  padding: 0.25em;
  margin-bottom: 0px;
}
/* ** Input form entry */
.input-form-entry {
  display: flex;
  margin-bottom: 0.125em;
  align-items: flex-end;
}

.input-form-entry label {
  width: 8em;
  text-align: right;
  margin-right: 0.25em;
  align-self: flex-start;
}

.input-form-entry-checkbox {
  display: flex;
  justify-content: flex-end;
}

.input-form-entry select {
  align-self: flex-end;
}

.input-form-entry textarea, .input-form-entry input, .input-form-entry select {
  flex-grow: 1;
  background: var(--secondary-highlight);
  border: 1px dashed var(--primary-accent);
  color: var(--text-color);
  accent-color: var(--primary-accent);
  margin: 0;
}

/* ** Single entry */

.input-form-single-entry {
  margin-top: 0.25em;
  margin-bottom: 0.125em;
  margin-left: 8.25em;

}

.input-form-entry-one-line input[type="submit"], .input-form-single-entry input[type="submit"] {
  background: none;
  border: none;
  color: var(--text-color);
  padding: 0;
  font-size: initial;
}

/* ** One line */

.input-form-entry-one-line input[type="submit"] {
  flex-grow: unset;
  margin-left: 0.25em;
}


/* ** User Widget */
.user-box {
  display: flex;
}

.user-details {
  margin-left: 0.25em;
}

.user-box .elements-list {
  justify-content: flex-end;
}
