html {
    background-color: #000E26;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

  --header-color: #041840;
  --element-color:  #052253;
  --element-alt-color: #0a2e65;
  --header-text-color: rgb(185, 185, 186);
  --element-text-color: #a8a8a8;
  --element-text-alt-color: #aaa;
}

.header .pure-menu-heading {
  padding: .125em 1em !important;
}
.header .pure-menu-link {
  padding: .125em 1em !important;
}

.header .pure-menu-list input.pure-menu-link {
  padding: 0px;
  border: 0px;
  background: unset;
  display: inline;
}
.header .pure-menu-list input.pure-menu-link:hover {
  background: white;
  background-color: #eee;
}

.profile-box {
  display: flex;
  flex-direction: column;
  max-width: 4rem;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.profile-box > img {
  max-width: 3rem;
  width: auto;
  border-radius: 0.15em;
}

.post-main-button > button {
	width: 100%;
	background-color: var(--element-alt-color);
	color: var(--header-text-color);
	font-size: x-large;
	font-weight: bolder;
	margin-bottom: .5rem;
}

div.profile-box.post-author {
    flex-direction: row;
    max-width: unset;
    overflow: visible;
    align-items: center;
}

.profile-box.post-author > img {
  width: 2.6rem;
  border-radius: 1rem;
}

.profile-box.post-author > b {
  padding-left: 0.5em;
}

.post {
  background-color: var(--element-color);
  margin-bottom: .5rem;
}

.error-title > h1 {
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: var(--header-color);
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  color: var(--header-text-color);
  margin-top: .5rem;
}

.post-title > h1 {
  margin: 0.25rem 0 !important;
}

.post-sub-title > i {
  margin-left: 0.25rem;
}

.post-header {
  display: flex;
  flex-direction: column;
  background-color: var(--header-color);
  padding-top: .25rem;
  padding-bottom: .25rem;
}

div.post-content {
  padding-bottom: .5em;
}

.post > div {
  padding-left: .5em;
  padding-right: .5em;
}

.post-header h1, .post-header b, .post-header p, .post-header i, .post-header span {
  color: var(--header-text-color);
}

.main {
  margin-top: .5rem;
}

.post-content p {
  color: var(--element-text-color);
}

.post-content > img {
	max-width: 100%;
}

.post-links {
  margin-top: .25rem;
  display: flex;
  justify-content: space-between;
}

.stats-box {
  display: flex;
  flex-direction: column;  
}

.post-stats {
  justify-content: space-evenly;
}

.subnavigation-menu {
    background: var(--element-color);
}

.subnavigation-menu > a.pure-menu-heading {
    padding-top: .125rem;
    padding-bottom: .125rem;
    color: var(--element-text-alt-color);
}

.search-box {
    display: flex;
    justify-content: center;
    background-color: var(--header-color);
    padding: 0.25rem;
    flex-direction: column;
}
.search-box input[type="text"] {
    line-height: 1.5;
    flex-grow: 10;
}
.search-box form {
    display: flex;
}

.post-buttons {
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid;
  border-color: #05264a;
  background-color: var(--header-color);
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.post-buttons > button {
  background-color: #0000;
  width: 100%;
  color: #107aae;
  padding: .25em;
}
.post-replies {
  text-align: center;
  color: var(--element-text-color);
  background-color: #00132f;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.post-reply-author > b {
  padding-left: 0;
  font-size: x-small;
}
.post-reply-author > img {
  max-width: 1.5rem;
  width: auto;
  border-radius: 0.15em;
}

.post-reply-author {
  display: flex;
  flex-direction: column;
  max-width: 4rem;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.post-reply {
  display: flex;
  padding-top: 0.25rem;
  padding-bottom: .25rem;
}
.post-reply-content {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  margin-right: .25rem;
}
.post-replies-list {
  background-color: #00132f;
  color: var(--element-text-color);
}
.post-reply.post-reply-hidden {
  max-height: 5rem;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  margin-bottom: .5rem;
  position: relative;
}

.post-reply-hidden-overlay {
  background-image: linear-gradient(transparent, #00132f);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.post-reply-hidden-overlay > .pure-button {
  color: #d0d0d0;
  background-color: #00132fab;
  padding: 0.25rem 0.5rem !important;
  width: 100%;
}
.post-reply h1,.post-reply h2,.post-reply h3,.post-reply h4,.post-reply h5,.post-reply h6 {
  margin: 0.1rem 0 !important;
}
.post-reply-hidden > .post-reply-author {
  z-index: 1;
}
.post-reply-socials > span {
  font-size: small;
  color: #a0a0a0;
}

div.post-replies-list {
  padding-top: 0.5em;
  padding-left: .25rem;
  padding-right: .25rem;
}

.post-reply-button > .pure-button {
  width: 100%;
  padding: 0;
  background-color: #00132f;
  color: #b9b9ba;
  border-radius: 0px;
}

.post-reply-hidden-button > .pure-button {
  width: 100%;
  padding: 0;
  background-color: #00132f;
  color: #b9b9ba;
  border-radius: 0px;
}

.post-reply-hidden-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.post-reply-to {
  color: #666;
  padding-bottom: .5rem;
  font-size: small;
}
.post-reply-to > a {
  font-weight: bold;
  text-rendering: inherit;
  color: var(--element-text-color);
}
.post-reply-date {
  font-size: x-small;
  margin-bottom: .25rem;
  color: #6f6f6f;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #00132f;
}
.post-reply.post-reply-button {
    padding: 0;
}

.profile {
  display: flex;
  color: var(--element-text-color);
  background-color: var(--element-color);
  margin-bottom: .5rem;
}

@media screen and (max-width:48.0em) {
  .profile {
    flex-wrap: wrap
  }
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-name b {
  font-size: x-large;
}

.profile-summary {
  padding-top: .5rem;
}

.profile-stats {
  padding-top: .25rem;
  font-weight: bold;
}

.profile-name {
  /*! width: 100%; */
  background-color: #00132f;
}
.profile-details > span, .profile-details > div {
  padding-left: .5rem;
  padding-bottom: .25rem;
  padding-right: .5rem;
}
.profile img {
  max-width: 10rem;
  border-radius: 0px;
}

.followers-list {
  background-color: var(--element-color);
}
.followers-list-title > h2 {
  margin-top: 0.25rem;
  margin-bottom: 0;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
.followers-list-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}
.followers-list-title {
  color: var(--element-text-color);
  padding-left: .25rem;
}

.followers-list-title {
  background-color: #00132f;
}

.follower-image > img {
  max-width: 3rem;
  border-radius: 3px;
}

.follower {
  display: flex;
  color: white;
  align-items: center;
}

.follower-image {
  max-width: 3rem;
  flex-grow: 1;
}

.follower-since {
  flex-grow: 1;
  width: 10rem;
}

.follower-name {
  flex-grow: 2;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.followers-list-contents > .follower:nth-child(odd) {
  background-color: var(--element-alt-color);
}

.follower-image {
  align-content: center;
  display: flex;
}

.follower-username {
  font-size: x-small;
  font-weight: bold;
  color: var(--element-text-color);
}

.feed-title > h1 {
  margin-bottom: 0.25rem;
  padding-bottom: 0;
  background-color: var(--header-color);
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  color: var(--header-text-color);
}

.feed-item {
  background-color: var(--element-color);
  color: var(--element-text-color);
  margin-top: .75rem;
}

.feed-context {
  background-color: var(--header-color);
}

div.profile-box.feed-item-author {
    overflow: visible;
    padding: .5rem;
}

.profile-box.feed-item-author > img {
  max-width: 3rem;
  width: auto;
  border-radius: 0.15em;
}

.feed-item-date {
  max-width: 4rem;
  text-align: center;
  font-size: x-small;
  font-weight: lighter;
  float: right;
}

.feed-item-body {
  display: flex;
  padding-left: .25rem;
}


.feed-stats {
  align-items: flex-end;
  font-size: small;
  margin-right: .25rem;
}

.feed-context {
  padding-bottom: .25rem;
  color: #868686;
  padding-left: .25rem;
}

.feed-item-contents {
  margin-left: .25rem;
  margin-top: .25rem;
}
.feed-post-hidden {
  position: relative;
  max-height: 10rem;
  overflow-y: hidden;
  color: var(--element-text-color);
  display: flex;
  background-color: var(--element-color);
  margin-top: .75rem;
  flex-grow: 4;
}
.feed-post-content {
    margin-left: .5rem;
    width: 100%;
    position: relative;
}
.feed-post-date {
  max-width: 4rem;
  text-align: center;
  font-size: x-small;
  font-weight: lighter;
  position: absolute;
  right: .125rem;
  top: .125rem;
 
}
.post-reply-text > h3 {
  margin-top: .5rem;
  margin-bottom: .25rem;
}
.feed-item.feed-follow-request {
  display: flex;
}

.feed-follow-request .feed-item-contents {
  width: 100%;
}

.feed-item-options {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: .5rem;
}
.feed-item-options > button {
  width: 6rem;
  background-color: var(--element-alt-color);
  border-color: var(--header-text-color);
  border-width: 1px;
  border-style: solid;
  color: var(--header-text-color);
}
.feed-write-post-button {
    width: 100%;
    background-color: var(--element-alt-color);
    color: var(--header-text-color);
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.login-title > h1 {
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: var(--header-color);
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  color: var(--header-text-color);
}


.login-component {
  background-color: var(--element-color);
  color: var(--element-text-color);
  height: 100%;
}

.login-component > form {
  margin-left: auto;
  margin-right: auto;
}

.login-component input {
  padding: .5rem;
}

.login-component button {
  padding: .5rem;
  min-width: 6rem;
  width: 100%;
  width: auto;
}

.login-component a {
  padding: .5rem;
  min-width: 6rem;
  width: 100%;
  width: auto;
}

.login-info {
  color: var(--element-text-color);
  background-color: var(--element-alt-color);
  height: 100%;
}

.login-info-content {
    padding: .25rem;
    font-size: small;
}

.login-info-content h1 {
  font-size: 1.5rem;
}

.login-info-content h1, .login-info-content h2, .login-info-content h3, .login-info-content h4, .login-info-content h5, .login-info-content h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.login-info-content > p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.login-component-content {
  padding: .25rem;
}

.login-component-content > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-component-content .login-button-group {
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.login-button-group > button.pure-button {
    margin-top: 0;
    margin-bottom: 0;
}

.post-reply-full.post-reply {
  background-color: var(--header-color);
  margin-top: .5rem;
  margin-bottom: .5rem;
  min-height: 6rem;
  color: var(--element-text-color);
  position: relative;
}

.post-reply-full.post-reply div.post-reply-date {
  background-color: var(--header-color);
}

.post-reply-full.post-reply div.post-reply-content {
  display: block;
}

.post-reply-full.post-reply div.post-reply-socials {
  position: absolute;
  bottom: 0;
}

.post-reply-full.post-reply.post-reply-hidden div.post-reply-hidden-overlay {
  background-image: linear-gradient(transparent, var(--header-color), var(--header-color));
}

.post-navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post-navigation-button {
  background-color: var(--element-alt-color);
  border-radius: .125rem;
  border-style: solid;
  border-color: var(--element-color);
  display: flex;
  align-items: center;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: .25rem;
  padding-top: .25rem;
  margin-left: .25rem;
  margin-right: .25rem;
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.write-post-panel {
    display: flex;
    justify-content: center;
}

.write-post-preview {
    display: flex;
    background-color: var(--element-alt-color);
    align-items: flex-start;
    color: var(--element-text-alt-color);
}


.write-post-panel > input.pure-button {
  margin-top: 0;
  margin-bottom: 0.25rem;
  margin-left: .25rem;
  margin-right: .25rem;
  width: 100%;
}

.write-post-title > h1, .write-post-context > h5 {
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: var(--header-color);
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  color: var(--header-text-color);
  margin-top: .5rem;
}

.write-post-component {
  background-color: var(--element-color);
  color: var(--element-text-color);
  padding-left: .25rem;
  padding-right: .25rem;
}

.write-post-content .pure-group input {
  width: 100%;
}

/* .write-post-content fieldset.pure-group:nth-child(3) > input:nth-child(2) { */
/*   min-height: 20rem; */
/* } */

.write-post-content textarea {
  width: 100%;
}

.write-post-content select {
  width: 100%;
  text-align: center;
}

.write-post-content .pure-button {
  width: ;
}

.preview {
  display: flex;
  justify-content: space-around;
}

.preview > button, .preview > a.pure-button {
  width: 100%;
  margin: .0rem .25rem .25rem .25rem;
}

.write-post-context-item {
  margin-bottom: .5rem;
}

.write-post-context-item > div.feed-item {
    padding-top: .5rem;
    margin-top: 0;
}

.write-post-context {
  color: var(--header-text-color);
}

.footer {
  text-align: center;
  background-color: var(--header-color);
  color: var(--element-text-color);
}

.footer a {
  color: var(--element-text-color);
  margin-left: .5rem;
  margin-right: .5rem;
}
.error-content {
  background: var(--element-color);
  color: var(--element-text-color);
  padding: .5rem;
  min-height: 4rem;
}
.error-content pre {
  border: 1px solid var(--header-text-color);
  padding: .25rem;
}

.user {
  display: flex;
  background: var(--element-color);
  padding: .125rem;
  color: var(--element-text-alt-color);
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.user-item-contents {
  padding-left: .25rem;
  width: 100%;
}
.user-item-action {
  float: right;
}
.user-item-action .pure-menu-link {
  background-color: var(--element-alt-color);
  color: var(--header-text-color);
  margin-top: .25rem;
  margin-bottom: .25rem;
  border: 0px;
  margin-left: .25rem;
  margin-right: .25rem;
  width: 10rem;
}
.user-item-stats {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
}
.user-item-name {
  display: flex;
}
.user-item-display-name {
  margin-right: .25rem;
}
