/* * Global  */
html {
    font-family: "Vera";
    color: var(--text-color);
    background-color: var(--secondary-accent);
}

body {
    margin: 0;
}

.main-body {
  position: relative;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: var(--secondary);
}

/* * Header */

header {
  display: flex;
  overflow: scroll;
  background: var(--primary);
}

header a {
  color: var(--text-color);
  text-decoration: none;
}

/* * Posts */
/* ** Post */

.post-box-header {
  font-weight: bolder;
  overflow-x: hidden;
  margin-bottom: 0.25em;
  font-size: small;
}

.post-details {
  margin-top: 0.25em;
  justify-content: space-between;
}

.post-author {
  display: flex;
  align-items: center;
}

.post-author > div:nth-child(1) {
  margin-right: 0.5em;
}

.post-author-details a {
  color: var(--text-color);
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 20ch;
}

.post-date a {
  color: unset;
  text-decoration: none;
}


.post-social a {
    font-weight: bolder;
}
.post-social > a:nth-child(1) {
  margin-right: 0.5em;
}

.post-social form {
    display: inline;
}
.post-social form:nth-child(1) {
    margin-right: 0.5em;
}
.post-social form:nth-child(3) {
  margin-left: 0.5em;
}

.post-social input[type="submit"] {
  color: var(--text-color);
  border: none;
  cursor: pointer;
  display: inline;
  background-color: transparent;
  padding: unset;
  font-family: inherit;
  font-size: unset;
  font-weight: bolder;
}

.post-text a {
  color: var(--primary-accent);
}


/* ** Post Feed */

.post-grid {
    grid-row-gap: 0.5em;
    grid-column-gap: 0.25em;
}

@media only screen and (min-width: 1280px) {
    .post-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .post-large {
        grid-column: span 3;
    }

    .post-medium {
        grid-column: span 2;
    }

}

@media only screen and (min-width: 880px) and (max-width: 1280px) {
    .post-grid {
        grid-template-columns: 1fr 1fr;
    }

    .post-large, .post-medium {
        grid-column: span 2;
    }

}


/* * Profile */
/* ** Header */
.profile-header {
  background: linear-gradient(rgba(0,0,0,0),var(--secondary-accent)), url('/static/images/background.jpg');
  padding: 0.125em;
}

.profile-header-details {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-left: 0.25em;
}

.profile-header-content {
  display: flex;
  align-self: flex-start;
}

.profile-header-actions.elements-list {
    justify-content: flex-end;
}

.profile-header-actions a {
    color: var(--text-color);
    text-decoration: none;
}

.profile-header-stats-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0.125em;
}

.profile-header-social {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
/* ** Action  */
.profile-actions {
    margin: 0 0.25em;
    display: flex;
}

.profile-action-options.elements-list {
    align-self: flex-start;
}

/* * Write post */
/* * Log in */
/* * Users */
/* ** User */
.user-details a {
  color: var(--text-color);
  text-overflow: ellipsis;
  overflow: hidden;
}

.follow-requests-grid .user-details a {
  max-width: unset;
}

.user-socials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 0.125em;
}
/* ** User list */
.users-search-box.input-form-entry-one-line label {
  width: auto;
}

.users-grid {
    grid-row-gap: 0.25em;
    grid-column-gap: 0.125em;
}

@media only screen and (min-width: 1280px) {
    .user-details a {
        max-width: 8ch;
    }

    .users-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 880px) and (max-width: 1280px) {
    .user-details a {
        max-width: 15ch;
    }

    .users-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* * Follow requests */
/* ** Follow request  */
.follow-requests-grid {
    grid-row-gap: 0.25em;
}

/* * Pagination */
nav.pagination-bar {
    display: flex;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

nav.pagination-bar > a {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
/* * Error */
/* ** Error Box */
.error-box {
  padding: .25em 0.25em;
}

.error-box code {
  border: 1px dashed var(--primary-accent);
  display: block;
  padding: .25em;
}

.error-box p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: small;
}

/* ** Error list */
.error p {
  margin-top: 0;
  margin-bottom: 0;
}

.error {
  color: var(--highlight);
}

.error-list {
  margin-left: .25em;
  margin-right: .25em;
}
